Repository infobits-io/infobits-flutter, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, example, test, ci, analytics, logging, benchmark, breadcrumb, breaking-change, platform-android, platform-ios, platform-web, platform-macos, platform-windows, platform-linux

Update license information in README.md from MIT to BSD 3-Clause
  README.md
Labels: documentation

Add CONTRIBUTING.md for community guidelines and update README.md and pubspec.yaml
  CONTRIBUTING.md
  README.md
  pubspec.yaml
Labels: documentation, dependencies

Add CLAUDE.md for project guidance and update dependencies in pubspec.yaml
  CLAUDE.md
  example/lib/benchmark_example.dart
  example/lib/main.dart
  example/lib/main_local_only.dart
  example/lib/main_manual.dart
  example/lib/main_simple.dart
  example/pubspec.lock
  lib/infobits.dart
  lib/src/analytics.dart
  lib/src/analytics_region.dart
  lib/src/ansi_color.dart
  lib/src/benchmark.dart
  lib/src/breadcrumb.dart
  lib/src/error_rendering/error_render_box.dart
  lib/src/error_rendering/error_widget.dart
  lib/src/filters/development_log_filter.dart
  lib/src/infobits.dart
  lib/src/infobits_config.dart
  lib/src/logging.dart
  lib/src/options.dart
  lib/src/outputs/file_log_output.dart
  lib/src/outputs/file_log_output_io.dart
  lib/src/outputs/file_log_output_stub.dart
  lib/src/outputs/memory_log_output.dart
  lib/src/printers/pretty_log_printer.dart
  lib/src/printers/simple_log_printer.dart
  lib/src/server_filters/development_server_filter.dart
  lib/src/testing/mock_analytics.dart
  lib/src/testing/mock_logger.dart
  lib/src/testing/test_helpers.dart
  lib/src/utils.dart
  lib/testing.dart
  pubspec.yaml
  test/analytics_test.dart
  test/benchmark_test.dart
  test/breadcrumb_test.dart
  test/infobits_test.dart
  test/local_only_test.dart
  test/logging_test.dart
  test/unified_test.dart
Labels: documentation, dependencies, example, test, analytics, logging, benchmark, breadcrumb, breaking-change

Update CHANGELOG.md for version 0.1.1 and increment version in pubspec.yaml
  CHANGELOG.md
  pubspec.yaml
Labels: documentation, dependencies

removed nightly
  .github/workflows/nightly.yml
Labels: ci

.github/labeler.yml:

# Add labels to PRs based on files changed

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'LICENSE'
      - 'doc/**'
      - 'example/README.md'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pubspec.yaml'
      - 'pubspec.lock'
      - 'example/pubspec.yaml'
      - 'example/pubspec.lock'

example:
  - changed-files:
    - any-glob-to-any-file:
      - 'example/**'

test:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - 'example/test/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/dependabot.yml'
      - '.github/labeler.yml'

analytics:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/src/analytics.dart'
      - 'lib/src/analytics_region.dart'
      - 'lib/src/observer.dart'
      - 'lib/src/lifecycle_observer.dart'

logging:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/src/logging.dart'
      - 'lib/src/logger.dart'
      - 'lib/src/log_event.dart'
      - 'lib/src/log_output.dart'
      - 'lib/src/filters/**'
      - 'lib/src/outputs/**'
      - 'lib/src/printers/**'

benchmark:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/src/benchmark.dart'

breadcrumb:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/src/breadcrumb.dart'

breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/infobits.dart'
      - 'lib/src/infobits.dart'

platform-android:
  - changed-files:
    - any-glob-to-any-file:
      - 'example/android/**'

platform-ios:
  - changed-files:
    - any-glob-to-any-file:
      - 'example/ios/**'

platform-web:
  - changed-files:
    - any-glob-to-any-file:
      - 'example/web/**'

platform-macos:
  - changed-files:
    - any-glob-to-any-file:
      - 'example/macos/**'

platform-windows:
  - changed-files:
    - any-glob-to-any-file:
      - 'example/windows/**'

platform-linux:
  - changed-files:
    - any-glob-to-any-file:
      - 'example/linux/**'
